<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Driver" value="Oracle" />
    <add key="IsCaseSencitive" value="1" />
    <add key="ActivationServerURL" value="https://keanggotaan.perpusnas.go.id/" />
  </appSettings>

  <connectionStrings>
    <clear/>
    <add name="ConnectionStringOracle" connectionString="eF1I633j6N7UyFZE9Vik/CrA6oerCUMG8Jhq0egJmZNIXz3WqJOkq5onZxzOe69CBo+3EPLC4sbzlt+svohWeLRIz37UXbGDNOmdYCnTEbIjAqNQIX4Ptx+fG/3H5Qvn4e1PBI8JhCCLVP47r3dMasLgyI/T8ZWZzsybOeSdlXrLpomspnKhtfXRsXvZU7TiInHSfgM6+MnMGRuVSkbXq1n8VFNyXRr5Joc5IyaToZCSBXbF3Aj7T+C8TLJ9ELXN" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ConnectionStringMySQL" connectionString="cPo986DSWDes/da5k2crOPqP5ux4YyXfO9axOiUwtouJjkedAF/nc8Kklbs6fmB+Mc4BvHhvk5jTVN0NdilTvnQqJw3K9Er/cQGnDfGX4uwRu/ZvBKh+e/EmgH7QIrozbyYGkRhgsZbRyUSpHOtlZg==" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" executionTimeout="1200" maxUrlLength="65536" maxQueryStringLength="2097151" requestValidationMode="2.0" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".epub" mimeType="application/xhtml+xml" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="65536" maxQueryString="2097151" maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
